---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Cuento con experiencia en la administración de redes, 
			tanto a nivel hardware: servers, switches, routers, firewalls,...
			como a nivel software: Active Directory, Kerberos, VPNs,...
			Conozco las herramientas básicas de internet: HTML y CSS.
			Programo en diferentes leguajes de programación: C, Java, Javascript, Go, Lua, Python.
		</p>
	</div>
</section>
