---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="../img/emotiguyComputer.gif"
			alt="Foto de perfil de Fran Lozano Mellado"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy Ingeniero Informático especializado en redes y TI. 
				Aprendiendo ciberseguridad. 
				Me encanta el fútbol y el cine. 
				Los gatos naranjas son mi debilidad.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
