---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="franlo42">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src="/assets/Astro.svg" color="#7738ff" name="Astro" />
			<TerminalIcon src="/assets/golang.svg" color="#FF4747" name="Golang" />
			<TerminalIcon src="/assets/javascript.svg" color="#00D1FF" name="Javascript" />
			<TerminalIcon src="/assets/mysql.svg" color="#F3CBC2" name="MySQL" />
			<TerminalIcon src="/assets/nodejs.svg" color="#00A3FF" name="NodeJS" />
		</div>
	</div>
</Terminal>
