---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="franlo42">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src="/assets/Astro.svg" color="#7738ff" name="Astro" />
			<TerminalIcon src="/assets/golang.svg" color="#50b7e0" name="Golang" />
			<TerminalIcon src="/assets/javascript.svg" color="#f0db4f" name="Javascript" />
			<TerminalIcon src="/assets/mysql.svg" color="#2b5d80" name="MySQL" />
			<TerminalIcon src="/assets/nodejs.svg" color="#3C873A" name="NodeJS" />
		</div>
	</div>
</Terminal>
