---
/*frontmatter1*/
---
<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>AGM Tarea 2</title>
        <link rel="icon" type="image/png" href="/favicon.png" />
    </head>
    <body>
        <video controls>
            <source src="video.mp4" type="video/mp4">
        </video> 
    </body>
</html>